.cpf {
  margin-bottom: 40px;
}

.cpf .input-form {
  background-color: rgb(172, 172, 172);
  color: black;
  width: 80%;
}

.pesquisa {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 0;
  border: none;
  background-color: #1f8de9;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.botoes {
  display: flex;
}

.delete {
  background-color: red;
}

.update {
  background-color: #1f8de9;
}
