.flex {
  display: flex;
}

.barra-pesquisa {
  margin: 6px;
  margin-right: 20px;
  border-radius: 8px;
  border: solid 1px;
}

.list {
  width: 500px;
}

.item {
  width: 95%;
  max-width: 500px;
  min-height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(105, 105, 105);
  border-radius: 10px;

  padding: 6px;
  margin: 16px 0px;

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.label {
  color: black;
  font-weight: bolder;
}

.date {
  margin-left: 5px;
  color: gray;
  font-weight: bolder;
}
